@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  /* min-width: 100vw; */
  overflow: auto;
  overflow-x: hidden;
  /* background-color: #0c4a6e; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profileCard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
  height: 500px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.profilePhoto {
  flex: 2;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.linkStyle {
  font-size: 1.25rem;
  color: #0000ee;
}

.linkStyle:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .profileCard {
    flex-direction: column;
  }

  .profilePhoto {
    flex-direction: column-reverse;
  }
}
